.b-list {

  line-height: 2;
  margin-bottom: 24px;

  .list-item {
    margin-bottom: 3px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.list-with-dash {
    .list-item {
      &:before {
        content: '\2014';
        margin-right: 6px;
      }
    }
  }

  &.list-size-large {
    font-size: 16px;
  }
}