.b-content {
  background: #e74c3c;
  @include span(9 nest) {

    .content-header {
      @include span(full inside);
      @include padding(gutter() null);
      @include margin(null null gutter());

      background: #f1c40f;
      text-align: center;
    }

    .content-footer {
      @include with-layout(inside) {
        @include span(7);
        @include push(1);
        @include margin(gutter() null);
      }

      background: #bdc3c7;
      text-align: center;
    }

    .content-article {
      @include span(6);
    }

    .content-links {
      background: #ccc;
      @include span(3 inside);
    }
  }

}