.b-sidebar {
  @include span(3 inside nest);

  background: #8e44ad;

  @include with-layout(3 inside) {
    .sidebar-item {
      @include span(full);

      background: #9b59b6;
      margin-bottom: gutter();
    }
  }
}